@model LARP.Models.Script

@{
    ViewData["Title"] = "新建剧本条目";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>新建剧本条目</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Introduction" class="control-label"></label>
                <input asp-for="Introduction" class="form-control" />
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Players" class="control-label"></label>
                <input asp-for="Players" class="form-control" />
                <span asp-validation-for="Players" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverFile" class="control-label"></label>
                <input asp-for="CoverFile" accept="image/*"/>
                <span asp-validation-for="CoverFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回到剧本列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
