@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "邮箱验证";
}

<h1>你的邮箱已验证，请登入</h1>
<p>该页面将在四秒后跳转到登入页面</p>
<meta http-equiv="refresh" content="4; url=https://localhost:44373/Identity/Account/Login">